/*This file is for containing all basic element styling*/
@import 'palette.css';

/*inbuilt browser styling, and mark*/
::selection, ::-moz-selection, mark {
	background: var(--text-select-bg);
	color: var(--text-select);
}


/*basic elements*/

p,a,ul,ol,details {
	font-family: var(--atkinson);
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: dashed underline;
}

ul {
	list-style: square;
}

details * {
	cursor: initial;
	font-weight: 400; /*normal weight*/
}
details summary {
	cursor: grab; 
	font-weight: 600; /*semi bold*/
}
details ul {
	list-style: square;
	margin-left: 30px;
}

/*abbriviation & definition*/
/*elements in <p> tags*/
abbr, dfn {
	text-decoration: underline dotted;
	color: var(--content-main-fontcolor);
}

b, strong {
	font-weight: 700;
	color: var(--font-color);
}

bdi, bdo { 
	/*bdi is good for isolating weird fonts, 
	bdo can control reading direction*/
	unicode-bidi: bidi-override;
}

q, em, i {
	font-style: italic;
	color: var(--font-color);
}


/*<form> elements*/

/*elements which do nothing or are SEO*/
article {

}
