/* code by Grat10berg!! code available on the github.
 *
 * website stucture somewhat inspired by 
 * the Dominos x Hatsune Miku collab site
 *
*/



/* main content on load look */
body {
    overflow-x: hidden;
}

main {
    height: 458px;
}

/* blue image background*/
#background {
    position: absolute;
    z-index: -1;
    background: black;
    left: 0%;
    right: 0%;
    top: 1%;
}


/* blue image background*/
#background {
	position: absolute;
	z-index: -1;
	background: black;
	left: 0%;
	right: 0%;
	top: 1%;
}

/* floating text, eg credit text "art by @MimzyyMay"*/

#credits, #site-by {
	font-family: var(--atkinson);
	font-weight: bold;
	display: block;
	font-size: 20px;
	position: absolute;

	color: #175872;
  	text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
       1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
#credits {
	bottom: 9%;
	right: 5%;
	z-index: 5;
}
#site-by {
	right: 5%;
	top: 10%;
	z-index: 3;
}

#site-by a, #credits a {
	text-decoration: none;
}

#site-by a {
	color: #5D7A89;
}
#site-by a:hover {
	color: #2E4B5A;
}

#credits a {
	color: #175872;
}
#credits a:hover {
	color: #2992BC;
}

/* guestbook button gear. */
/* part of the code is in footer as it reuses the footer gear styling*/

#guestbook-btn {
	position: absolute;
	left: 1%;
	bottom: -4%;
		
}

#guestbook-btn .icon svg * *, #guestbook-btn:hover .icon svg * * {
	fill: white;
}
#guestbook-btn .icon {
	margin-right: 10px;
	margin-top: -8px;
}

/* the floating grat on the top of the page*/

#grat {
	max-width: 100vw;
	pointer-events: none;
	
}
	/* the image of grat10 posing, without a plug*/
	/* artwork by @MimzyyMay */

#grat #float {
	margin-top: 7%;
    transform: rotate(-4deg);

	margin-top: 120px;
	animation: float 2s ease-in-out 1s infinite alternate-reverse;
}

#grat #pose, #grat #knee, #grat #arm {
	display: block;	
	max-width: 	85vw;
	min-width: 1000px;
	max-height: 80vh;
	position: absolute;
	right: 5%;
	top: 15%;

}

#grat #pose { z-index: 1;}
#grat #arm { z-index: 2;}
#grat #knee { z-index: 3;}

	/* grat's arm */
#grat #arm {

	animation: arm 2s ease-in-out 1s infinite alternate-reverse;
	transform-origin: 55.9% 73.7%;
}

	/* grat's knee to cover the arm */

	/* grat's plug tail */
#grat #plug {
	display: block;
	width: 11vw;	

	position: absolute;
	z-index: 3;	
	left: 20%;
	top: 75%;

	animation: plug 2s ease-in-out 1s infinite alternate-reverse;
	transform-origin: bottom;
}
	/* float element up and down */
@keyframes float {
	0% {
		margin-top: 120px;
	}
	100% {
		margin-top: 130px;
	}
}

	/* float plug up and down and rotate to create a sway */
@keyframes plug {
	0% {
		transform: rotate(30deg);
	}
	100% {

	}
}

	/* float element up and down */
@keyframes arm {
	0% {
		top: 16%;
		transform: rotate(-10deg);
	}
	100% {
		top: 15%;
		transform: rotate(5deg);
	}
}

	/* fake program styling, rest can be found in common.css. */

#gratchat  {
	width: 33vw;
	height: 29vh;	

	left: 12%;
	top: 25%;
}

#gratchat .content {
	height: 45%;
}

#comments {
	/* hidden till triggered */
	display: none;
	width: 33vw;
	height: 59vh;	

	left: 17%;
	top: 27%;
}

#comments .content {
	height: 73%;
}

.segment img {
	width: 100%;
}

.segment {
	margin-top: -15%;
}

.segment:first-of-type { margin-top: 0;}
.segment:first-of-type img {
	position: relative;
	z-index: 4;
}

.segment:nth-child(4) img {	position: relative; z-index: 6;}
.segment:nth-child(5) img {	position: relative; z-index: 7;}
.segment:nth-child(6) img {	position: relative; z-index: 8;}
.segment:nth-child(7) img {	position: relative; z-index: 9;}

.segment:last-of-type {
	margin-bottom: -15px;
}

 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	main {
		height: 450px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	main {
		height: 550px;
	}
} 
