
:root {
	
	/* site settings */

	/* sawteeth at the topnav/footer */
	--sawtooth-size: 77px;


	/* palette */

	/* used for buttons, links, or decorations */
	--cta-orange: #F7976C;
	--cta-orange-hover: #F7576C;

	--cta-cyan: #3DCACD;
	--cta-cyan-hover: #52f7d9;
}
