
/* here is the CSS code for Grat's custom SCM music player */

#player,#player a{ color:#fff; }
#player{ background:url(https://grat.gay/styling/scm/sizerAndVol.png); background-position:bottom; }
#player .mainImage{ background:url(https://grat.gay/styling/scm/main.png); }

#player #baseLeft{ width:93px; }
#player #baseRight{ width:145px;}
#player .button{  width:26px; }
#player #play{ background:url(https://grat.gay/styling/scm/playBtn.png); }
#player #play,#player #pause{ left:26px; }
#player #previous{ left:0px; }
#player #next{ left:52px; }
#player #title{ left:90px;  }
#player #tooltip{ right:196px; }
#player #timer{ right:120px;  }
#player #list{ right:0px; }

#player #seeker{ right:320px; }
#player #seekerBase{ border-color: #368486 ;  }
#player #seekerBuffered{ background-color:#265588; }
#player #seekerSliderBase{ background-color:#3DCACD; }

#player #volume{ width:65px; right:39px; }
#player #volumeSlider{ width:8px; background:url(https://grat.gay/styling/scm/sizerAndVol.png); }

#playlist,#playlist .module,#playlist h3{ border-color:#333;}
#playlist .module{  color:#333; background-color:#eee; }
#playlist h3{ background:url(https://grat.gay/styling/scm/bar.jpg); color:#fff; background-color:#333;  }
#playlist .even{background-color:#eee;}
#playlist .odd{ background-color:#cce4f2;}
#playlist .focus{ background-color:#495f82; color:#E4EDF4;}

