@import 'palette.css';
@import 'fonts.css';
@import 'elements.css'; /*basic element styling*/

/*
 #rejoice! for the robot dance is: ON 

 └[∵┌]└[ ∵ ]┘[┐∵]┘ 
*/

/* also hiii Grat here thanks for checking out my site!! */

:root {

--page-width: 60vw;
--content-page-width: calc(var(--page-width)- 10px);

--page-nav-width: var(--page-width);
--page-nav-bar-width: calc(var(--page-nav-width) - 48vw);
--page-height: 80rem;
--tab-spacing: 5rem; /*spacing for the second tab*/
}

* {
	margin: 0;
	padding: 0;
}

.pixelart { /*make that pixelart look chrisp!*/
	image-rendering: pixelated;
}

.genpage { /*body*/
	margin: auto;
	display: block;

	background: var(--hp-bg-color);
}

	/* contains everything centered into one thing*/
.page_center{
	margin: auto;
	display: block;
	width: var(--page-width);
	background: var(--hp-main-bg-color);
	border-left: 10px solid var(--content-border);
	border-right: 10px solid var(--content-border);
}

.header_image{
	height: 10rem;
	width: var(--page-width);
	background-color: #909edd;
}
 /*make this better,,, somehow!*/
.header_image img{
	display: block;
	margin: auto;
	max-height: 10rem;
	max-width: var(--page-width);
}

/* navigation */
.genpage_nav{
	height: 2.5rem;
	width: var(--page-width);
	
	font-size: 18px;
	font-weight: bold;
	font-family: var(--atkinson);
	background: var(--nav-bg);
}

.genpage_nav ul {
	display: flex;
	list-style: none;

	align-items: center;
	justify-content: space-evenly;
}

.genpage_nav ul li {
	display: flex;

	align-items: center;
	justify-content: center;

	height: 2.5rem;
	width: var(--page-nav-bar-width);

}

.genpage_nav ul li:hover {
	background: var(--nav-bg-hover);
}

.genpage_nav ul li p {
	color: var(--nav-text);
	text-transform: capitalize;
}

.genpage_nav ul li:hover p {
	color: var(--nav-text-hover);
}

.genpage_nav ul li p.current {
	color: var(--nav-current-text);
}

.genpage_nav ul li:hover p.current {
        color: var(--nav-current-text-hover);
}

/* main page content */
.content{
	display: block;
	width: var(--content-page-width); 

	/*remove later*/
	height: var(--page-height);
}

	/* used when displaying both a main and a side nav */
.content .center {
	padding-top: 50px;
	display: flex;
	justify-content: space-evenly;
}
	/*sidebar*/
.content .center .side {
	width: 24%;
	margin: 0 1rem 0 1.5rem;
	border-radius: 15px;
	padding-bottom: 15px;
}
.content .center .commisions {
	width: 100%;
}

.content .center .commisions .terms {
	/*fill whole block*/
	margin: auto; 
	display: block;
	/*center the label & radio*/
	text-align: center;
}

.content .center .commisions .terms label {
	color: var(--content-main-fontcolor);
	font-size: 1.2rem;
}

.content .center .commisions .terms input:checked {
}

.content .center .commisions .reveal {
	animation: comm_reveal 5s linear 2s infinite alternate;	
	margin-top: 1.5rem;
	border-top: dashed var(--content-comm-borderhide-color);
	width: 100%;
	min-height: 5px;
}
	/*this isn't prettyy... i wanted to use 
	* last/first of type but it won't workkk*/
#sidebg1{
	background: var(--content-sidenav);
}
#sidebg2 {
	background: var(--content-sidenav-2);
	min-height: 25rem;
}

	/*clock styling*/
.content .center .side #clock {
	width: 90%;
	margin: auto;
	display: block;
	margin-top: 10px;
	border-radius: 30px;
	padding: 10px 0 10px 0;
	background: var(--content-sidenav-clockbg);
}
.content .center .side #clock p {
	text-align: center;
	font-family: var(--helveti);
	font-size: 1.8rem;
}

	/*breaker*/
.content .center .side .break {
	width: 80%;
	height: 1rem;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 10px;
	display: block;
	border-radius: 30px;
	background: var(--content-sidenav-split);
}

	/*text in sidebar*/
.content .center .side .text p {
	text-align: left;
	font-size: 1.1rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
	color: var(--content-sidenav-textareabg);
}
.content .center .side .text p::before{
	content: "◆ ";
	margin-right: 5px;
}

	/*other websites banners!*/
.content .center .side .banners {
	width: 90%;
	margin: auto;
	display: block;
}
.content .center .side .banners img {
	width: 100%;
}
.content .center .side .banners img:hover {
	filter: brightness(80%);

	/* i wanted the images to turn grayscale blue*/	
	/*filter: hue-rotate(180deg) grayscale(40%);*/
}

.content .center .side textarea {
	width: 90%;
	height: 10rem;
	margin: auto;
	display: block;
	font-family: var(--atkinson);
	background: var(--content-sidenav-textareabg);
} 

	/*main, with info page and tabs*/
.content .center .main {
	margin: 0 1.5rem 0rem 0rem;
	width: 75%;
	height: 34rem;	
	display: block;
	margin-bottom: 2rem;	
}

.content .center .main .tabs {
	width: 100%;
	height: 5rem;
	display: flex;
}

.content .center .main .tabs .tab1, 
.content .center .main .tabs .tab3 {
	border-radius: 25px 10px 0px 0px;
}
.content .center .main .tabs .tab2, 
.content .center .main .tabs .tab4 {
	border-radius: 10px 25px 0px 0;
}

.content .center .main .tabs .tab1, 
.content .center .main .tabs .tab2, 
.content .center .main .tabs .tab3,
.content .center .main .tabs .tab4 {
	width: 20%;
	height: 5rem;
	display: flex;
	align-items: center;
	cursor: grab; /*makes tabs look clickable*/	
}

.content .center .main .tabs .tab1 p, 
.content .center .main .tabs .tab2 p, 
.content .center .main .tabs .tab3 p, 
.content .center .main .tabs .tab4 p {
	font-size: 1.2rem;
	pointer-events: none;
} 

	/*tab colors*/
.tab1 {
	background: var(--content-main-tabblue1);		
	color: #fff;
}
.tab1:hover {
	background: var(--content-main-tabblue1-hover);
}
.tab2 {
	background: var(--content-main-tabblue2);
	color: #fff;
}
.tab2:hover {
	background: var(--content-main-tabblue2-hover);
}
.tab3 {
	background: var(--content-main-tabteal1);	
	color: #fff;
}
.tab3:hover {
	background: var(--content-main-tabteal1-hover);
}
.tab4 {
	background: var(--content-main-tabteal2);
	color: #fff;
}
.tab4:hover {
	background: var(--content-main-tabteal2-hover);
}

.content .center .main .tabs div:last-of-type p, 
.content .center .main .tabs div:first-of-type p {
	margin: auto;
	display: block;
}

.content .center .main .panels {
	display: block;
		/*max minus the margin sidebar has*/
	width: calc(100% - 1.5rem); 
	position: relative;
}

.content .center .main .panels .page {
	width: 100%;

	/*replace with something better!*/
	height: 30rem;
	position: absolute;	
}
	/* homepage specific ids*/

#panel1, #panel2, #panel3, #panel4 {

	border-width: 0px 10px 10px 10px;
	border-style: solid;
	border-radius: 0px 10px 0px 15px;
}

#panel1 {
	border-color: var(--content-main-tabblue1);
	background: var(--content-main-tab-bg);
}

#panel2 {
	border-color: var(--content-main-tabblue2);
	background: var(--content-main-tab-bg);
}

#panel3 {
	border-color: var(--content-main-tabteal1);
	background: var(--content-main-tab-bg);
}

#panel4 {
	border-color: var(--content-main-tabteal2);
	background: var(--content-main-tab-bg);
}

#panel1 .bar, #panel2 .bar, #panel3 .bar, #panel4 .bar {
	width: 100%;
	height: 2rem;
}
#panel1 .bar {
	background: var(--content-main-tabblue1);
}
#panel2 .bar {
	background: var(--content-main-tabblue2);
}
#panel3 .bar {
	background: var(--content-main-tabteal1);
}
#panel4 .bar {
	background: var(--content-main-tabteal2);
}

.panel-in {
	display: flex;
	height: calc(100% - 2rem);	
}

.panel-in .text {
	display: block;
	width: 50%;
	overflow-y: scroll; /*incase user expands all details*/
}

	/*VT social feed (in panel-in)*/
.panel-in .vt-social {
	display: block;
	width: 100%;
	overflow-y: scroll;
	background-color: var(--blog-bg);
}

.panel-in .vt-social .vttoot {
	padding: 10px 0 10px 0;
	margin: 10px 0 10px 0;
}

.vt-social .vttoot:first-child, .vt-social .vttoot:last-child {
	margin: 0;
}

.vttoot {
	background-color: var(--main-toot-color);
}
.vttoot:nth-child(even) {
	background-color: var(--secondary-toot-color);
}

.panel-in .vt-social .vttoot p {
	margin: 0 0 10px 10px;
	font-size: 18px;
	color: var(--content-main-fontcolor);
}

.panel-in .vt-social .vttoot img {	
	max-width: 80%;
	max-height: 600px;
	margin: auto;
	display: block;
}

.panel-in .vt-social .vttoot a {
	text-align: right;
	display: block;
	margin-right: 10px;
	color: var(--origin-link-color);
}

.panel-in .text h1, 
.panel-in .text h2,
.panel-in .text h3,
.panel-in .gallery h4 {
	font-size: 34px;	
	font-family: var(--atkinson);
	margin: 15px 0 15px 15px;
	color: var(--content-main-panel-titlecolor);
}

.panel-in .text p {
	font-size: 22px;
	font-family: var(--atkinson);
	margin: 15px 0 15px 15px;
	color: var(--content-main-panel-fontcolor);
}

 /*for the extra.txt tab*/
.panel-in .text > ul {
	list-style: none;
	margin-left: 15px;
	font-family: var(--atkinson);
	color: var(--content-main-panel-fontcolor);
}

.panel-in .text ul li {
	font-size: 20px;
}
.panel-in .text ul li a {
	color: #b23c40;
}

.panel-in .image {
	display: flex;
	justify-content: center;
	width: 50%;
}

.panel-in .image img {
	display: block;
	position: absolute;
	bottom: 0;
	width: 45%;
	min-width: 35%;
	image-rendering: pixelated;
	pointer-events: none;

}

.panel-in .gallery {
	display: block;
	width: 100%;
}

.panel-in .gallery img {
	margin: auto;
	display: block;
	width: auto;	
	max-height: 80%;
}

	/*footer styling*/
.homepage_footer{
	margin: auto;
	display: block;
	width: calc(var(--page-width) + 20px);
	background: var(--footer-bg);
	border-radius: 0 0 10px 10px;
}
.homepage_footer .upper_foot {
	display: flex;
	justify-content: space-between;

}
 /*badges*/
.homepage_footer .upper_foot div:first-child {
	margin: 10px;
	padding-bottom: 4rem;	
}

.homepage_footer .upper_foot .transfl {
	display: block;
	width: 8rem;
	height: 4rem;
	background: var(--transflag-bg);
	border-radius: 0 0 0px 15px;
}



/*Keyframe animations*/
@keyframes comm_reveal  {
	from {
	background-color: aliceblue;
	height: 100%;}
	to {
	background-color: aqua;
	height: 0;}
}
