@import 'fonts.css';

:root{
/* fontface vars */
	/*atkinson is a good general font, very readable*/
--atkinson: 'Atkinson-Hyperlegible', monospace;
--helveti: 'HelvetiPixel', monospace; /*big sized pixel*/
--tinyuni: 'TinyUnicode', monospace; /* small pixels */
--minimal: 'Minimal4', monospace; /*smallest pixels*/

/* page colors. */
--background: #e1e6fe;
--background-general-color: #e1e6fe; 


/* general color of background img*/
--font-color-gen: #ffff;
--font-highlight: #3333;
--link-color-gen: #e54286;

--content-page-bg: #ffff;
--first-content-bg: #ffff;
--second-content-bg: #ffff;

--nav-top-bg: #3b768f;
--nav-side-bg: #293268; 
--blog-bg: #cfd1f6;
--blog-title-bg: #6c9bd8;

--vt-toot-even: #8cdaff;
--vt-toot-odd: #8cafff;	 

/*page sizing*/ 
--general-width: 60vw;
--spacing-between-panels: 10px;

	/*Calc'd vars*/
--content-page-width: calc(var(--general-width) - 10vw);
--side-nav-width: calc(var(--general-width) - 58vw);
}

*{
	padding: 0;
	margin: 0; 
 } 


/* Index */

/* Homepage */
.homepage { /* background for the homepage */
	background: var(--background);
	font-family: var(--atkinson);
}

.homepage main {
	background: var(--background-general-color); 
	width: var(--general-width);
	margin: auto;
	display: block;
		
	/*
	border-style: solid;
	border 5px;
	border-color; var(--background-general-color);
	*/
}

/*General tags*/
.homepage img {
	image-rendering: pixelated;
}

/* Class tags */
.homepage .divimagecentertext {
	display: flex;
	justify-content:center;
}

.homepage .divimagecentertext img { 
	max-width: var(--general-width);
	border-radius: 5px 5px 0px 0px;
	/*opacity: 80%;*/
}
.homepage .divimagecentertext h3 {
	top: 8vh; /*find like,, a lot better way to do this*/	
	margin:auto;

	font-size: 3vw;
	font-weight: bold;

	position: absolute;
	color: var(--font-color-gen);
}

/*Navbar tags*/
.homepage nav {
	width: var(--general-width);
	margin:auto;
	display:block;

	background: var(--nav-top-bg);
} 
.homepage nav ul { 
	list-style: none; padding: 0;
	display:flex;
	justify-content:space-evenly;
}

.homepage nav ul li {
	padding:10px;
}

.homepage nav ul li a {
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	color: var(--font-color-gen);
}

/*Article tags */
.homepage article {
	width: var(--general-width);
	margin:auto;
	background-color: #ffff;
	/*padding: 10px;*/
	margin-top: var(--spacing-between-panels);
	display:flex;
}

.homepage .navside {
	width: var(--side-nav-width);
	background: var(--nav-side-bg);
}
.homepage .navside img {
	margin:auto;
	margin-top: var(--spacing-between-panels);
	display:block;
}
.homepage .contentpage {
	width: var(--content-page-width); 
	margin-right: var(--spacing-between-panels)
}

.homepage .contentpage h2 {
	text-align:center;
}

.homepage .first_content {
	padding-bottom: 50px;
	background: var(--first-content-bg);
	margin-bottom: var(--spacing-between-panels);
}
.homepage .first_content #twitch-stream {
	display:flex;
	justify-content:center;
}

/*rssblog styling*/

#rssblog{
	padding-top:8px;
	background: var(--second-content-bg);
}

#rssblog .blogtitlebg {
	background: var(--blog-title-bg);
	padding: 10px;
	
	margin: 25px; 10px; 0px;
	
}

#rssblog .blogtitle {
	font-size:22px;
	font-weight: bold;
}

#rssblog #rssblog_import .vttoot {
	background: var(--vt-toot-even);

	padding: 15px 5px;
	margin-top:5px;
	margin-bottom:15px;
	margin-left: 40px;
}

#rssblog #rssblog_import .vttoot:nth-child(odd) {
	background: var(--vt-toot-odd);
}

/*Toot Content*/
#rssblog #rssblog_import .vttoot p {
	margin-bottom:20px;
	font-size: 18px;
}
.vttoot p:first-of-type:before {
content: "'' ";
}
.vttoot p:last-of-type:after{
content: " '' - grat10";
}

#rssblog #rssblog_import .vttoot .rsslink {
	color: var(--link-color-gen);
	text-decoration:none;
	text-align:right;
	display:block;	
}

#rssblog #rssblog_import .vttoot img {
	/*margin:auto;*/
	/*display:block;*/
	max-width: calc(var(--general-width) - 20vw);
}
