*,
ul {
  padding: 0;
  margin: 0;
}

body {
  background-color: #F9F3F0;
}

#contentDiv {
  border: #85A1BF;
  border-style: solid;
  border-radius: 2px;
  background-color: #eef6f8;
  display: block;
  width: 900px;
  height: 850px;
  margin: auto;
  nav {
    overflow-y: scroll;
    //border: #617581;
    //border-style: solid;
    //border-radius: 2px;
    position: absolute;
    width: 180px;
    min-height: 437px;
  }
  #bottomSide {
    margin-top: 434px;
    overflow-y: scroll;
    //border-top: #617581;
    //border-style: solid;
    //border-radius: 2px;
    position: absolute;
    width: 180px;
    min-height: 411px;
  }
  article {
    overflow-y: scroll;
    margin-left: 20%;
    height: 845px;
    //border: #688e9b;
    //border-style: solid;
    //border-radius: 2px;
    p,
    h1,
    h2,
    h4,
    h5,
    h6, textarea {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
ul {
  text-align: center;
  a {
    text-decoration: none;
  }
}

// Stolen

.imageText {
  display: none;
}

.imgpix {
  image-rendering: pixelated;
}
// Used only on Slideshow.html

.img-thumb {
  max-height: 200px;
  max-width: 300px;
  min-height: 160px;
}

.carouselImg {
  max-width: 100%;
  height: 800px;
  margin: auto;
  margin-bottom: 10%;
  display: block;
}
.slideshowBG {
  background-color: #262a31;
}
.SpacingDiv {
  justify-content: center;
  display: flex;
}
.SlideshowCaption {
  background-color: #262a31;
  width: max-content;
  h3 {
    color: #a3b0b8;
  }
  p {
    color: #617581;
  }
  a,
  a:visited,
  a:hover {
    color: #688e9b;
  }
  a:hover {
    color: #ad4156;
    background-color: transparent;
  }
}
// XS
@media screen and (max-width: 576px) {
  #Nav_Disapeir {
    display: none;
  }
}
// SM
@media screen and (min-width: 576px) {
  #Nav_Disapeir {
    display: none;
  }
}
// MD
@media screen and (min-width: 768px) {
  #Nav_Disapeir {
    display: block;
  }

  .CenterH {
    // stolen
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
  }

  .imageText {
    display: block;
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
//LG 992
//XL 1200
//XXL 1400 and bigger
// #region Modal Styling (For Mother1brain/Data/Central/art.html);
// sets image to full size
.fullimg {
  width: 100%;
}

// Container of all model related things
#ArtworkModels {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
// #endregion
