* {
  padding: 0;
  margin: 0;
}

.slideshowBG {
  background-color: #262a31 !important;
  a{
    color: #e8f4f6;
  }
  a:hover{
    color: #cae6eb;
  }
}

// GENERAL DATA
body {
  background-color: #ddf0ff;
  // Class to tell that the image is at Pixelsize making it scale without being blurry.
  // full list of browser image scaling comparisons look here: https://lospec.com/browser-image-scaling-comparison/
  .imgpix {
    image-rendering: pixelated;
  }
  // Styling for making text stand over an image in the center of the image
  .CenterH {
    // stolen
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    font-size: 35px;
    font-family: monospace;
    font-weight: bold;
  }

  .imageText {
    display: block;
    position: relative;
    text-align: center;
    color: white;
  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // #region Scrollbar styling
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 129, 225);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 116, 204);
  }
  // #endregion

  // #region Slideshow.html Styling
  // Used only on Slideshow.html
  .img-thumb {
    max-height: 200px;
    max-width: 300px;
    min-height: 160px;
  }

  .carouselImg {
    max-width: 100%;
    height: 800px;
    margin: auto;
    margin-bottom: 10%;
    display: block;
  }
  .SpacingDiv {
    justify-content: center;
    display: flex;
  }
  .SlideshowCaption {
    background-color: #262a31;
    width: max-content;
    h3 {
      color: #a3b0b8;
    }
    p {
      color: #617581;
    }
    a,
    a:visited,
    a:hover {
      color: #688e9b;
    }
    a:hover {
      color: #ad4156;
      background-color: transparent;
    }
  }
  // #endregion
}

// Homepage Styling...
.HomepageBody {
  margin-top: 2rem;
  margin-bottom: 1rem;
  background-image: url(Sprite-0001.png);

  #contentDiv {
    // Colour of Box BG
    background-color: #e8f4f6;
    // Centers Box in middle of screen
    margin: auto;
    display: block;
    // Size of Box
    width: 900px;
    height: 845px;

    // Centering and styling of SideNav and sidepanel bellow it too
    ul {
      padding-left: 30px;
      a {
        text-decoration: none;
      }
    }
    nav {
      overflow-y: scroll;
      border: #617581;
      border-style: solid;
      border-radius: 2px;
      position: absolute;
      width: 180px;
      height: 437px;
    }
    #bottomSide {
      margin-top: 434px;
      overflow-y: scroll;
      border: #617581;
      border-style: solid;
      border-radius: 2px;
      position: absolute;
      width: 180px;
      height: 411px;
    }
    article {
      overflow-y: scroll;
      margin-left: 20%;
      height: 845px;
      border: #688e9b;
      border-style: solid;
      border-radius: 2px;
      border-left: 0px;
      p,
      h1,
      h2,
      h4,
      h5,
      h6,
      textarea {
        margin-right: 10px;
        margin-left: 10px;
      }
    }
  }
}

// #region Media Queries, (Not Done)
// XS
@media screen and (max-width: 576px) {
}
// SM
@media screen and (min-width: 576px) {
}
// MD
@media screen and (min-width: 768px) {
}
// #endregion
