:root{

/* page fonts.*/

/* page colors. */
--background: #ffff;
--fontcolorGen: #ffff;
--fontHighlight: #3333;
--linkcolorgen: #ad4156;

--contentpagebg: #e8f4f6;
--navsidebg: #888888; 
--blogtitlebg: #6c9bd8;

--vttooteven: #777777;
--vttootodd: #999999;
}

*{
	padding: 0;
	margin: 0;
}

/*General tags*/

img {
	image-rendering: pixelated;
}

/* Class tags */
.divimagecentertext {
	display: flex;
	justify-content:center;
}

.divimagecentertext img {
	max-width: 140vh;
	border-radius: 5px 5px 0px 0px;
	opacity: 80%;
}
.divimagecentertext h3 {
	top: 10%; /*find like,, a lot better way to do this*/
	
	font-size: 30px;
	font-weight: bold;
	

	position: absolute;
	color: var(--fontcolorGen);
}

/*Navbar tags*/
nav {
	width: 140vh;
	
	margin:auto;
	margin-top: 10px;
	display:block;

	background: purple;
}
nav ul {
	list-style: none;
	padding: 0;
	display:flex;
	justify-content:space-evenly;
}
nav ul li {
	padding:10px;
}
nav ul li a {
	font-size:18px;
	font-weight:bold;
	text-decoration:none;
	color: var(--fontcolorGen);
}

/*Article tags */
article {
	width: 140vh;
	margin:auto;
	padding: 10px;
	display:flex;
}

.navside {
	width: calc(140vh - 110vh);
	background: var(--navsidebg);
}
.navside img {
	margin:auto;
	margin-top:10px;
	display:block;
}
.contentpage {
	width: calc(140vh - 30vh);
	background: var(--contentpagebg);
	margin-right: 10px
}
.contentpage h2 {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align:center;
}
.contentpage #twitch-stream {
	display:flex;
	justify-content:center;
}

/*rssblog styling*/

#rssblog{
}

#rssblog .blogtitlebg {
	background: var(--blogtitlebg);
	padding: 10px;
	
	margin: 25px; 10px; 0px;
	
}

#rssblog .blogtitle {
	font-size:22px;
	font-weight: bold;
}

#rssblog #rssblog_import .vttoot {
	background: var(--vttooteven);

	padding: 15px 5px;
	margin-top:5px;
	margin-bottom:15px;
	margin-left: 40px;
}
#rssblog #rssblog_import .vttoot:nth-child(odd) {
	background: var(--vttootodd);
}
/*Toot Content*/
#rssblog #rssblog_import .vttoot p {
	margin-bottom:20px;
}

#rssblog #rssblog_import .vttoot .rsslink {
	color: var(--linkcolorgen);
	text-decoration:none;
}

#rssblog #rssblog_import .vttoot img {
	margin:auto;
	display:block;
	max-width: calc(140vh - 40vh);
}
