@font-face {
  // Made by the Braille Institute this font is easier to read for Low vision readers https://brailleinstitute.org/freefont
  font-family: 'Atkinson-Hyperlegible';
  src: url('fonts\\Atkinson-Hyperlegible-Regular-102.eot'); /* IE9 Compat Modes */
  src: url('fonts\\Atkinson-Hyperlegible-Regular-102.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('fonts\\Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts\\Atkinson-Hyperlegible-Regular-102.woff') format('woff'), /* Pretty Modern Browsers */
       url('fonts\\Atkinson-Hyperlegible-Regular-102.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('fonts\\Atkinson-Hyperlegible-Regular-102.svg#svgFontName') format('svg'); /* Legacy iOS */
}

// General
$LinkColour: #ad4156;

// Homepage
$HomepageBGColour: url(Sprite-0001.png);

* {
  padding: 0;
  margin: 0;
}

// GENERAL DATA
html {
   /* For Firefox */
  overflow-y: scroll;
  scrollbar-color: #008de4 #0d3b97;
  scrollbar-width: thin;
  font-family:  'Atkinson-Hyperlegible',"VT323", Fallback, monospace;
  a {
    text-decoration: none;
    color: $LinkColour;
  }

  // Index page styling
  .Egress {
    
    background-color: #97c2dd;
    main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 85vh;
      img {
        width: 500px;
        border: #4170ad;
        border-width: 8px;
        border-radius: 5px;
        border-style: solid;
      }
      p {
        margin-top: 10px;
      }
      p:last-of-type {
        margin-top: 40px;
        color: #688e9b;
      }
    }
  }

  // Homepage
  .TheSource {
    background-image: $HomepageBGColour;
    main {
      margin: auto;
      display: block;
      max-width: 1000px;
      .DivimageCenterText {
        img {
          max-width: calc(100% - 6px); // minuses the max width with the border width
          border-radius: 5px;
          border-width: 3px;
          border-style:solid;
          border-color: #262a31;
        }
        h3 {
          color: whitesmoke;
          font-size: 32px;
          font-family: Georgia, "Times New Roman", Times, serif;
        }
        padding-bottom: 10px; // <- pushes the text down
      }
      div {
        background-color: #e8f4f6;
        ul {
          padding-left: 30px;
          a {
            text-decoration: none;
          }
        }
        nav {
          overflow-y: scroll;
          // border: #617581;
          // border-style: solid;
          // border-radius: 2px;
          display: flex;
          justify-content: center;
          position: absolute;
          width: 180px;
          height: 437px;
        }
        #bottomSide {
          margin-top: 434px;
          overflow-y: scroll;
          // border: #617581;
          // border-style: solid;
          // border-radius: 2px;
          position: absolute;
          width: 180px;
          height: 411px;
        }
        article {
          overflow-y: scroll;
          margin-left: 20%;
          height: 845px;
          // border: #688e9b;
          // border-style: solid;
          // border-radius: 2px;
          // border-left: 0px;
          hr{
            margin-top: 10px;
            margin-bottom: 15px;
          }
          p,
          h1,
          h2,
          h4,
          h5,
          h6,
          textarea {
            margin-right: 10px;
            margin-left: 10px;
          }
        }
      }
    }
  }

  // Tumblrblog.html
  .TumBlog {
    background-image: "../styling/Sprite-0001.png";
    //background-color: #4170ad;
    //display: flex;
    //justify-content: center;
    ol{
      background-color: #a3b0b8;
      padding: 0;
      padding-top: 5%;
      margin-left: 7%;
      margin-right: 7%;
      list-style: none;
      li {
        border-radius: 15%;
        border-color: #ad4156;
        border-style: solid;
        border-width: 5px;
        margin-bottom: 50px;
        div{
         
          //display: flex;
          //justify-content: center;
          //flex-direction: column;
         p:first-child {
          text-align: center;
          font-size: 25px;
         }
         p{
          text-align: center;
         }
         figure {
          img{
            border-radius: 10%;
            border-color: transparent;
            border-width: 1px;
            border-style: none;
            pointer-events: none;
          }
          display: flex;
          justify-content: center;
         }
        }
      }
    }
  }

  .WorldTree {
    background-image: url(../images/LinkTreeBG.gif);
    main {
      margin: auto;
      display: block;
      width: 90%;
      max-width: 1000px;
      
      border: #5fcde4;
      border-width: 10px;
      border-top: 0px;
      border-bottom: 0px;
      border-style: solid;
      border-radius: 0;

      div{
        background-color: #e8f4f6;
        //height: 100%;
        padding: 10px;
        padding-top: 5px;
        .DivimageCenterText {
          img {
            //max-width: calc(100% - 6px); // minuses the max width with the border width
            max-width: 100%;
            border-radius: 15px;
            border-width: 3px;
            border-style: solid;
            border-color: transparent;
          }
          h3 {
            color: whitesmoke;
            font-size: 32px;
            //font-family: Georgia, "Times New Roman", Times, serif;
          }
          padding-bottom: 10px; // <- pushes the text down
        }
        ul {
          list-style: none;
          li{
            margin: 15px;
            a {
              font-weight: bold;
              font-family: monospace;
              font-size: larger;
              margin-bottom: 5px;
              img {
                display: inline-block;
                //width: 100%;
                width: 16px;
                height: 16px
              }
            }
            .Spacer {
              padding: 15px;
              font-weight: bolder;
            }
          }
        }
      }
    }
  }

  // #region Styling for making text stand over an image in the center of the image
  .DivimageCenterText {
    position: relative;
    text-align: center;
  }
  .centeredText {
    // stolen
    position: absolute;
    width: 80%; // how far out to the side the text goes
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  // #endregion

  // #region Scrollbar styling
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(78, 129, 225);
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 116, 204);
  }
  // #endregion

  .img-thumb {
    max-height: 200px;
    max-width: 300px;
    min-height: 160px;
  }
}

.slideshowBG {
  background-color: #262a31 !important;
  a {
    color: #e8f4f6;
  }
  // Used only on Slideshow.html
  .img-thumb {
    max-height: 200px;
    max-width: 300px;
    min-height: 160px;
  }
  .carouselImg {
    max-width: 100%;
    height: 800px;
    margin: auto;
    margin-bottom: 10%;
    display: block;
  }
  .SpacingDiv {
    justify-content: center;
    display: flex;
  }
  .SlideshowCaption {
    background-color: #262a31;
    width: max-content;
    h3 {
      color: #a3b0b8;
    }
    p {
      color: #617581;
    }
    a,
    a:visited,
    a:hover {
      color: #688e9b;
      text-decoration: none;
    }
    a:hover {
      color: #ad4156;
      background-color: transparent;
    }
  }
}

// Misc Classes
.imgpix {
  image-rendering: pixelated;
}

#CDIcon {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -0px -0px;
}

#Twitch {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -16px -0px;
}

#Youtube {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -32px -0px;
}

#Discord {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -0px -16px;
}

#Itch {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -0px -32px;
}

#Kofi {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -0px -48px;
}

#Github {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -16px -16px;
}

#Newgrounds {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -16px -32px;
}

#Neocities {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -16px -48px;
}

#Tumblr {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -32px -16px;
}

#Steam {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -32px -32px;
}

#Pixil {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -32px -48px;
}

#Twitter {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -48px -32px;
}

#VTSocial {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -48px -48px;
}

#MissingNo {
  image-rendering: pixelated;
  width: 16px;
  height: 16px;
  background: url(https://mother1brain.neocities.org/images/PixelIcons128x64@Mother1brain_Neocities.png);
  background-position: -112px -48px;
}